@CHARSET "UTF-8";
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin-left: auto;
 margin-right: auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-4w6a{font-size:18px;font-family:Arial, Helvetica, sans-serif !important;;vertical-align:top}
.tg .tg-mugz{background-color:#f9f9f9;font-size:18px;font-family:Arial, Helvetica, sans-serif !important;;vertical-align:top}
.tg .tg-1s7f{font-size:18px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#ecf4ff;vertical-align:top}
.tg .tg-b026{font-size:18px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#ecf4ff}
.tg .tg-qzru{background-color:#f9f9f9;font-size:18px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}